<div id="countUpContainer">
    <span id="startingValue"></span> | <span id="amountNeededValue"></span>
</div>
<div id="xpUpContainer">
    <span class="xpUp xpUpMyStuff">+<span class="xpUpValue"></span>&nbsp;<span data-i18n="mystuff.profile.xp">XP</span>&nbsp;|&nbsp;<span class="xpReason"></span></span>
</div>
<div class="row">
    <div class="progress">
        <div class="mystuffprogressbar" aria-valuetransitiongoal="75" style="width: 4.77904%;"></div>
        <div id="earnedProgress" class="progress-bar-overflow"></div>
    </div>
</div>
