                <div class="col-lg-4 col-md-4 col-sm-3" id="infoSection">
                    <div id="user-name" class="row user-name">BENNET SMITH</div>
                    <div id="user-rank" title="Your RANK is determined by your length of service. Rank Up!" class="row my-user-rank masterTooltip">EPIC</div>
                    <div class="row certs">

                        <div style="margin-right:35px !important; cursor:help;" title="Nice, you're CERTIFIED at your POSITION." class="col-xs-2 col-xs-2 col-xs-5 nopad leaderboard-col-check masterTooltip"><img src="assets/img/icons/checkmark-leaderboard-white.png"></div>

                        <div title="This shows how many SERVICE AWARDS you have received." class="col-xs-2 col-xs-2 col-xs-5 nopad leaderboard-col-star masterTooltip" style="top: -3px; cursor:help;">
                            <div id="serviceHolder">
                                <div class="service-ranking-2">1</div>
                                <img src="assets/img/icons/star-service-award.png" id="starImg">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="mainChartItem" class="col-lg-4 col-md-4 col-sm-4 nopad">
                        <span title="Complete all MY POSITION missions to become CERTIFIED." id="ChooseMissionProfile" class="card-chart chart mid masterTooltip" data-percent="60">

                            <canvas height="75" width="75"></canvas>
                            <span class="card-chart-label position pull-left"><span class="lg-per percent">33</span></span>
                            <span class="chart-complete sm-chart" style="font-size: 16pt;">POSITION</span>
                            <span id="findMissionButton">my missions <i class="fa fa-1x fa-chevron-circle-right"></i></span>
                        </span>
                    </div>
                </div>