<div class="col-lg-4 col-md-4 col-sm-3" id="infoSection">

<!--User Name Section of User Info Section-->
<app-user-name></app-user-name>

<!--User Rank Section of User Info Section-->
<app-user-rank></app-user-rank>
<div class="row certs">

<div class="col-xs-2 col-xs-2 col-xs-5 nopad leaderboard-col-star masterTooltip" style="top: -3px; cursor:help;" title="This shows how many SERVICE AWARDS you have received.">
    <div id="serviceHolder">
        <div class="service-ranking-2">
            <br>
        </div>
    </div>
</div>


</div>
<br/>
<!--User Mission Percentage Section of User Info Section-->
<app-user-mission-percentage></app-user-mission-percentage>

</div>