.username{
    color:#fff !important;
    font-size: 28px;
    font-weight: bold;
    font-family: solido_book;
    margin-top: 6px;
    line-height: 40px;
    -webkit-text-size-adjust: 100%;
    display: block;
}
.userrank{
    color: #d905e9 !important;
    font-size: 18px;
    cursor: help;
}