
<section id="profilesectionid" class="profile-container editorBackground"
style="background-image: url('./assets/img/backgrounds/Special_BG_Autism_Speaks.jpg');">
<div class="container" style="margin-bottom:25px;padding-bottom:25px;margin-top:75px">
    <div class="row" style="vertical-align:baseline !important;">

        <!--AVATAR SECTION OF MYSTUFF PROFILE SECTION-->
        <app-avatar-section></app-avatar-section>

        <!--USER INFO SECTION OF MYSTUFF PROFILE SECTION-->
        <app-user-info-section></app-user-info-section>

        <!--XP SECTION OF MYSTUFF PROFILE SECTION -->
        <app-xp-section></app-xp-section>
    </div>
</div>
</section>
