    <section class="profile-container editorBackground" style="background-image: url('assets/img/backgrounds/Special_BG_Autism_Speaks.jpg');">
        <div style="margin-bottom:25px; padding-bottom:25px; margin-top:75px;"class="container">
            <div class="row" style="vertical-align:baseline !important;">
                <div class="col-lg-3  col-md-3  col-sm-3 nopad">
                    <div id="newMarker" title="You have NEW items unlocked!" class="col-xs-12 masterTooltip">
                        <div id="newUnlockIcon" class="col-xs-1">
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-unlock-alt fa-stack-1x"></i>
                            </span>
                        </div>
                        <div id="newUnlockTextHolder" class="col-xs-3">
                            <span id="newNumberText"></span><br /><span id="newItemsText"></span>
                        </div>
                    </div>
                    <div id="avatar"><img id="myProfileAvatar" title="Click to change your AVATAR &amp; BACKGROUND!"
                    class="subheader-avatar-display avatarEdit editorAvatar masterTooltip"
                    src="assets/img/avatars/full_high_Marvel_Persona_Deadpool.png"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3" id="infoSection">
                    <div id="user-name" class="row user-name">BENNET SMITH</div>
                    <div id="user-rank" title="Your RANK is determined by your length of service. Rank Up!" class="row my-user-rank masterTooltip">EPIC</div>
                    <div class="row certs">

                        <div style="margin-right:35px !important; cursor:help;" title="Nice, you're CERTIFIED at your POSITION." class="col-xs-2 col-xs-2 col-xs-5 nopad leaderboard-col-check masterTooltip"><img src="assets/img/icons/checkmark-leaderboard-white.png"></div>

                        <div title="This shows how many SERVICE AWARDS you have received." class="col-xs-2 col-xs-2 col-xs-5 nopad leaderboard-col-star masterTooltip" style="top: -3px; cursor:help;">
                            <div id="serviceHolder">
                                <div class="service-ranking-2">1</div>
                                <img src="assets/img/icons/star-service-award.png" id="starImg">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="mainChartItem" class="col-lg-4 col-md-4 col-sm-4 nopad">
                        <span title="Complete all MY POSITION missions to become CERTIFIED." id="ChooseMissionProfile" class="card-chart chart mid masterTooltip" data-percent="60">

                            <canvas height="75" width="75"></canvas>
                            <span class="card-chart-label position pull-left"><span class="lg-per percent">33</span></span>
                            <span class="chart-complete sm-chart" style="font-size: 16pt;">POSITION</span>
                            <span id="findMissionButton">my missions <i class="fa fa-1x fa-chevron-circle-right"></i></span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6" id="xpSectionContainer">
                    <div id="xpTextHolder" class="row">
                        <div class="pull-left"><span data-i18n="mystuff.profile.level">Level</span><span id="currentL"style="font-size:32px;"> 5</span></div>
                        <div class="pull-right" style="position: absolute; right: 0px; top: 12px; font-weight:bold;">
                            <span class="current-xp">50</span>/<span id="lvlup-xp">25</span>&nbsp;<span data-i18n="mystuff.profile.xp">XP</span>
                        </div>
                    </div>
                    <div id="countUpContainer">
                        <span id="startingValue"></span> | <span id="amountNeededValue"></span>
                    </div>
                    <div id="xpUpContainer">
                        <span class="xpUp xpUpMyStuff">+<span class="xpUpValue"></span>&nbsp;<span data-i18n="mystuff.profile.xp">XP</span>&nbsp;|&nbsp;<span class="xpReason"></span></span>
                    </div>
                    <div class="row">
                        <div class="progress">
                            <div class="mystuffprogressbar" aria-valuetransitiongoal="75"></div>
                            <div id="earnedProgress" class="progress-bar-overflow"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="height:110px;">
                            <div class="container-fluid socialContainer"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="topCatText">TOP CATEGORIES</div>
                    </div>
                    <div id="topCatCharts" class="row text-center masterTooltip" title="Your progress with GameStop’s Top Categories">

                        <div class="col-xs-4">
                            <span class="chart small pull-left certifications" data-percent="40">
                                <span class="percent">Category1</span>
                                <canvas height="25" width="75"></canvas>
                                <span class="chart-label chart-certs">33</span>
                            </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="chart small pull-left certifications" data-percent="50">
                                <span class="percent">Category2</span>
                                <canvas height="75" width="75"></canvas>
                                <span class="chart-label chart-certs">44</span>
                            </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="chart small pull-left certifications" data-percent="60">
                                <span class="percent">Category3</span>
                                <canvas height="75" width="75"></canvas>
                                <span class="chart-label chart-certs">55</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="profile-container compressedProfile editorBackground" style="opacity:.9;">

        <div class="container" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="subheader-avatar editorBackground" id="avatarEditorToggle">
                        <img class="subheader-avatar-display-small avatarEdit editorAvatarThumb" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="mini-info-pad">
                        <div class="pull-left"><span class="mini-name">miniprofile name</span></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 mini-info-pad">
                            <div class="xpFrame">
                                <span data-i18n="mystuff.profile.level">Level</span>
                                &nbsp;10
                                <span class="levelUp">
                                    <span class="levelUpValue"></span>
                                </span>
                                <span id="profileLevel"></span>
                            </div>
                            &nbsp;&middot;&nbsp;
                            <div class="xpFrame">
                                <span class="current-xp">55</span>
                                &nbsp;
                                <span data-i18n="mystuff.profile.xp">XP</span>
                            </div>
                        </div>
                        <div class="xpUp" style="opacity:0; position:absolute;">
                            +
                            <span class="xpUpValue"></span>
                            &nbsp;
                            <span data-i18n="mystuff.profile.xp">XP</span>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <div class=" mini-info-pad">
                                <div class="pull-right progress subheader-progressbar" >
                                    <div class="miniProgressBar pull-left progress-bar" role="progressbar" aria-valuetransitiongoal="15"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 pull-right">
                            <div class="mini-info-pad">
                                <div class="lb-text" id="goToLeaderBoard"><i class="fa fa-trophy"></i> Leaderboard</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>