<div id="myTrainingRecentMissions">
    <section class="current-mission-tracker">
        <div class="container">
            <div style="margin-top: 35px;" class="row current-mission-row ">
                <div class="col-xs-12 current-mission-header"><span><i class="fa fa-history" style="margin-right:10px;"></i>Recently Completed Missions</span></div>
            </div>
            <div class="row">
                <div class="missionHistoryCardContainer col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="mission-history-card">
                        <div class="header">SL Certified</div>
                        <div class="row recent-mission-verified">
                                <div class="col-xs-12 veri"><span data-i18n="missions.details.needs-verification">NEEDS<br>VERIFICATION</span></div>
                        </div>
                        <div class="mission-date">Completed on 5/10/2017</div>
                        <div class="row">
                            <div class="col-xs-5 quiz" style="margin-top:35px; margin-left: 10px;">
                                <span>
                                    <p>
                                        </p><div class="quiz-numbers">0</div>
                                        <div class="quiz-numbers-label">QUIZZES</div>
                                    <p></p>
                                </span>
                            </div>
                            <div class="col-xs-6 mission-percent">
                                <span class="card-chart chart mid loaded" data-percent="0">
                                    <span class="card-chart-label pull-left"><span class="percent">0</span></span>
                                    <span class="chart-complete sm-chart" data-i18n="mystuff.missions.avgScore">AVG. SCORE</span>
                                <canvas height="162" width="162" style="height: 130px; width: 130px;"></canvas></span>
                            </div>
                        </div>
                            <div class="mission-link" data-itemid="192">view details</div>
                    </div>
                </div>
                <div class="missionHistoryCardContainer col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="mission-history-card">
                        <div class="header">ASL Certified</div>
                        <div class="row recent-mission-verified">
                                <div class="col-xs-12 veri"><span data-i18n="missions.details.needs-verification">NEEDS<br>VERIFICATION</span></div>
                        </div>
                        <div class="mission-date">Completed on 1/13/2017</div>
                        <div class="row">
                            <div class="col-xs-5 quiz" style="margin-top:35px; margin-left: 10px;">
                                <span>
                                    <p>
                                        </p><div class="quiz-numbers">0</div>
                                        <div class="quiz-numbers-label">QUIZZES</div>
                                    <p></p>
                                </span>
                            </div>
                            <div class="col-xs-6 mission-percent">
                                <span class="card-chart chart mid loaded" data-percent="0">
                                    <span class="card-chart-label pull-left"><span class="percent">0</span></span>
                                    <span class="chart-complete sm-chart" data-i18n="mystuff.missions.avgScore">AVG. SCORE</span>
                                <canvas height="162" width="162" style="height: 130px; width: 130px;"></canvas></span>
                            </div>
                        </div>
                            <div class="mission-link" data-itemid="191">view details</div>
                    </div>
                </div>
                <div class="missionHistoryCardContainer col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="mission-history-card">
                        <div class="header">SGA Certified</div>
                        <div class="row recent-mission-verified">
                                <div class="col-xs-12 veri"><span data-i18n="missions.details.needs-verification">NEEDS<br>VERIFICATION</span></div>
                        </div>
                        <div class="mission-date">Completed on 1/13/2017</div>
                        <div class="row">
                            <div class="col-xs-5 quiz" style="margin-top:35px; margin-left: 10px;">
                                <span>
                                    <p>
                                        </p><div class="quiz-numbers">0</div>
                                        <div class="quiz-numbers-label">QUIZZES</div>
                                    <p></p>
                                </span>
                            </div>
                            <div class="col-xs-6 mission-percent">
                                <span class="card-chart chart mid loaded" data-percent="0">
                                    <span class="card-chart-label pull-left"><span class="percent">0</span></span>
                                    <span class="chart-complete sm-chart" data-i18n="mystuff.missions.avgScore">AVG. SCORE</span>
                                <canvas height="162" width="162" style="height: 130px; width: 130px;"></canvas></span>
                            </div>
                        </div>
                            <div class="mission-link" data-itemid="190">view details</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center more">
                    <span id="myTrainingViewMoreRecentMissions" class="circle-view" data-i18n="mystuff.missionselection.more">more</span>
                </div>
            </div>
        </div>
    </section>
</div>
