<div>
    <div class="row">
        <!-- Wire up needed. -->
        <!-- Added Calendar control. -->
        <div class="col-xs-12 col-sm-6">
            <label id="GoalsPublishDateLabel" for="GoalsPublishDate" data-i18n="missionwizard.publicationdates.publishdate">Publish Date (MM/DD/YYYY)</label><i class="fa fa-asterisk"></i>
            <input id="GoalsPublishDate" class="step-inputs form-control goalsRequired" required value="" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <label id="GoalsExpirationDateLabel" for="GoalsExpirationDate" data-i18n="missionwizard.publicationdates.expirationdate">Expiration Date (MM/DD/YYYY)</label><i class="fa fa-asterisk"></i>
            <input id="GoalsExpirationDate" class="step-inputs form-control goalsRequired" required value="" />
        </div>
    </div>

  <div class="row">
      <div class="col-xs-6">
          <button type="button" class="btn button-next">Previous</button>
      </div>
      <div class="col-xs-6">
          <button type="button" class="btn button-next pull-right">Continue</button>
      </div>
  </div>
</div>