
        <div class="container">
            <div class="row" style="vertical-align:baseline !important;">
                <div class="col-lg-3  col-md-3  col-sm-3 nopad">

                  <app-unlock-icon></app-unlock-icon>


                    <div id="avatar"><img id="myProfileAvatar" title="Click to change your AVATAR &amp; BACKGROUND!"
                    class="subheader-avatar-display avatarEdit editorAvatar masterTooltip"
                    src={{mainAvatar}}></div>
                </div>
            </div>
        </div>
