    <section class="profile-container editorBackground" style="background-image: url('assets/img/backgrounds/Special_BG_Autism_Speaks.jpg');">
        <div class="container">
            <div class="row" style="vertical-align:baseline !important;">
                <div class="col-lg-3  col-md-3  col-sm-3 nopad">

                  <app-unlock-icon></app-unlock-icon>


                    <div id="avatar"><img id="myProfileAvatar" title="Click to change your AVATAR &amp; BACKGROUND!"
                    class="subheader-avatar-display avatarEdit editorAvatar masterTooltip"
                    src="assets/img/avatars/full_high_Marvel_Persona_Deadpool.png"></div>
                </div>
            </div>
        </div>
    </section>