<div id="mainChartItem" class="col-lg-4 col-md-4 col-sm-4 nopad">
<span title="Complete all MY POSITION missions to become CERTIFIED." id="ChooseMissionProfile" class="card-chart chart mid masterTooltip" data-percent="60">

    <canvas height="75" width="75"></canvas>
    <span class="card-chart-label position pull-left"><span class="lg-per percent">33</span></span>
    <span class="chart-complete sm-chart" >POSITION</span>
</span>
<br>
<span id="findMissionButton">my missions <i class="fa fa-1x fa-chevron-circle-right"></i></span>
</div>