<div id="MissionCentral">
    <div class="mainContainer container">
        <div class="missionCentralRow text-center firstRow">
            <div class="col-xs-2 colOne"><p><img src="./assets/img/Mission-Central_08.png" alt="mission central">{{'mission-central' | translate}}</p></div>
        </div>

    <div class="missionCentralRow secondRow">
        <div class="col-xs-6">
          <p routerLink="../../mission-detail">
              <img src="./assets/img/createNewMission.png" alt="new mission">{{'create-new-mission' | translate}}
              </p>
        </div>

<div class="inner-addon right-addon search-box col-xs-6">
    <i class="fa fa-search "></i>
    <input type="text" placeholder="search missions by name..." class="form-control search" />
</div>
    </div>
    <hr>

        <br><br><br><br><br><br>
        <br><br><br>
        <br><br><br><br><br><br>

</div>
</div>
