    <section class="profile-container editorBackground" style="background-image: url('assets/img/backgrounds/Special_BG_Autism_Speaks.jpg');">
        <div style="margin-bottom:25px; padding-bottom:25px; margin-top:75px;"class="container">
            <div class="row" style="vertical-align:baseline !important;">
                <div class="col-lg-3  col-md-3  col-sm-3 nopad">
                    <div id="newMarker" title="You have NEW items unlocked!" class="col-xs-12 masterTooltip">
                        <div id="newUnlockIcon" class="col-xs-1">
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-unlock-alt fa-stack-1x"></i>
                            </span>
                        </div>
                        <div id="newUnlockTextHolder" class="col-xs-3">
                            <span id="newNumberText"></span><br /><span id="newItemsText"></span>
                        </div>
                    </div>
                    <div id="avatar"><img id="myProfileAvatar" title="Click to change your AVATAR &amp; BACKGROUND!"
                    class="subheader-avatar-display avatarEdit editorAvatar masterTooltip"
                    src="assets/img/avatars/full_high_Marvel_Persona_Deadpool.png"></div>
                </div>
            </div>
        </div>
    </section>