
    <div class="loading" *ngIf="loading">
        <img src="./../../../assets/img/levelUpLogo.png" alt="">
        <div id="circleG">
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
        </div>
    </div>
<div id="MyStuff">
    <div id="myStuffProfile" style="height: auto;">
        <app-profile-section></app-profile-section>
        <app-mission-section></app-mission-section>
        <app-tracking-section></app-tracking-section>
    </div>
</div>