
<section id="profilesectionid" class="profile-container editorBackground"
style="background-image: url('./assets/img/backgrounds/Special_BG_Autism_Speaks.jpg');">
<div class="container" style="background-color:white;margin-top:160px;width:75%">
    <div class="row" style="vertical-align:baseline !important;">

        <!--AVATAR SECTION OF MY-TRAINING PROFILE SECTION-->
        <app-avatar-section></app-avatar-section>

        <!--USER INFO SECTION OF MY-TRAINING PROFILE SECTION-->
        <app-user-info-section></app-user-info-section>

        <!--CERTIFIED SECTION OF MY-TRAINING PROFILE SECTION -->
        <app-certified-section></app-certified-section>

        <!--SERVICE AWARD  SECTION OF MY-TRAINING PROFILE SECTION -->
        <app-last-trained-section></app-last-trained-section>
    </div>
</div>
</section>










<div id="myTrainingUserProfile" style="height: auto;">
    <section class="profile-container fullProfile editorBackground"
    style="background-image: url(./assets/img/backgrounds/Special_BG_Autism_Speaks.jpg)">
        <div class="container" style="margin-top:75px;">

            <img style="width:100%;" src="./assets/img/transparent-line-h.png">

            <div id="carousel-training" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent-line.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">125</span><br>
                                    <span class="score-heading">
                                        PERFECT
                                        <br>
                                        SCORES
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent-line.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">0</span><br>
                                    <span class="score-heading">
                                        PERFECT SCORES<br>
                                        IN A ROW
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent-line.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">6</span><br>
                                    <span class="score-heading">
                                        DAYS LOGGED
                                        <br>
                                        IN A ROW
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">1</span><br>
                                    <span class="score-heading">
                                        MISSIONS COMPLETED<br>
                                        THIS MONTH
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent-line.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">302</span><br>
                                    <span class="score-heading">
                                        XP EARNED<br>
                                        THIS WEEK
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent-line.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">19</span><br>
                                    <span class="score-heading">
                                        HIGHEST GLOBAL LEADERBOARD<br>
                                        SPOT ACHIEVED
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent-line.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">1</span><br>
                                    <span class="score-heading">
                                        HIGHEST LOCAL LEADERBOARD<br>
                                        SPOT ACHIEVED
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <img src="./assets/img/transparent.png" alt="">
                                <div class="carousel-caption">
                                    <span class="scores">4</span><br>
                                    <span class="score-heading">
                                        NUMBER OF TIMES<br>
                                        LEAVING FEEDBACK
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#carousel-training" data-slide="prev">
                    <span class="icon-prev"><i class="fa fa-chevron-left"></i></span>
                </a>
                <a class="right carousel-control" href="#carousel-training" data-slide="next">
                    <span class="icon-next"><i class="fa fa-chevron-right"></i></span>
                </a>
            </div>
        </div>
    </section>
</div>
