<div id="myStuffTracking" class="container">
    <div class="row current-mission-header">
        <div class="col-sm-12"><i class="fa fa-crosshairs" style="margin-right:10px;"></i>Tracking</div>
    </div>
    <div>
        <div id="trackingHelpText">Looking forward to that next Avatar or Background?
            TRACKING will keep you updated on your progress towards each unlock.
            Click "track avatar" from any LOCKED item in the editor.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4" id="tracking0">
            <span class="card-chart chart mid loaded" data-percent="0">
                <canvas height="75" width="75"></canvas>
                <span class="card-chart-label position pull-left"><span class="lg-per percent">0</span></span>
                <span class="chart-complete sm-chart" data-i18n="mystuff.missions.completed">COMPLETED</span>
            <canvas height="162" width="162" style="height: 130px; width: 130px;"></canvas></span>
            <div class="row text-center tracked-asset">Boba</div>
            <div class="row text-center asset-decrip">0 of 5<br>
              <span class="atrib-descr">Consecutive Perfect Quizzes</span></div>
            <div class="row text-center">
                <br>
                <div class="btn btn-cc btn-cc-submit">view</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" id="tracking1">
          <div class="row text-center">
              <img class="dummy-img-pad" src="./assets/img/dummy-data-nada-2.png">
              <br>
              <div class="btn btn-cc btn-tracking-submit">start tracking</div>
          </div>
      </div>
        <div class="col-lg-4 col-md-4 col-sm-4" id="tracking2">
          <div class="row text-center">
              <img class="dummy-img-pad" src="./assets/img/dummy-data-nada-2.png">
              <br>
              <div class="btn btn-cc btn-tracking-submit">start tracking</div>
          </div>
      </div>
    </div>
</div>