                <div class="col-lg-5 col-md-5 col-sm-6" id="xpSectionContainer">
                    <div id="xpTextHolder" class="row">
                        <div class="pull-left"><span data-i18n="mystuff.profile.level">Level</span><span id="currentL"style="font-size:32px;"> 5</span></div>
                        <div class="pull-right" style="position: absolute; right: 0px; top: 12px; font-weight:bold;">
                            <span class="current-xp">50</span>/<span id="lvlup-xp">25</span>&nbsp;<span data-i18n="mystuff.profile.xp">XP</span>
                        </div>
                    </div>
                    <div id="countUpContainer">
                        <span id="startingValue"></span> | <span id="amountNeededValue"></span>
                    </div>
                    <div id="xpUpContainer">
                        <span class="xpUp xpUpMyStuff">+<span class="xpUpValue"></span>&nbsp;<span data-i18n="mystuff.profile.xp">XP</span>&nbsp;|&nbsp;<span class="xpReason"></span></span>
                    </div>
                    <div class="row">
                        <div class="progress">
                            <div class="mystuffprogressbar" aria-valuetransitiongoal="75"></div>
                            <div id="earnedProgress" class="progress-bar-overflow"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="height:110px;">
                            <div class="container-fluid socialContainer"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="topCatText">TOP CATEGORIES</div>
                    </div>
                    <div id="topCatCharts" class="row text-center masterTooltip" title="Your progress with GameStop’s Top Categories">

                        <div class="col-xs-4">
                            <span class="chart small pull-left certifications" data-percent="40">
                                <span class="percent">Category1</span>
                                <canvas height="25" width="75"></canvas>
                                <span class="chart-label chart-certs">33</span>
                            </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="chart small pull-left certifications" data-percent="50">
                                <span class="percent">Category2</span>
                                <canvas height="75" width="75"></canvas>
                                <span class="chart-label chart-certs">44</span>
                            </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="chart small pull-left certifications" data-percent="60">
                                <span class="percent">Category3</span>
                                <canvas height="75" width="75"></canvas>
                                <span class="chart-label chart-certs">55</span>
                            </span>
                        </div>
                    </div>
                </div>