<section class="container" style="padding-top:90px">
    <div id="mainContent">
        <div  id="wizardAccordion">
        <app-accordion>
            <app-accordion-tab active="true" header="Mission Details">
                <app-mission-detail-details></app-mission-detail-details>
            </app-accordion-tab>
            <app-accordion-tab header="Audience">
                <app-mission-detail-audience></app-mission-detail-audience>
            </app-accordion-tab>
            <app-accordion-tab header="Category">
                <app-mission-detail-category></app-mission-detail-category>
            </app-accordion-tab>
            <app-accordion-tab header="Prerequisites">
                <app-mission-detail-prereq></app-mission-detail-prereq>
            </app-accordion-tab>
            <app-accordion-tab header="Publication Dates">
                <app-mission-detail-publication></app-mission-detail-publication>
            </app-accordion-tab>
        </app-accordion>
        </div>
    </div>
</section>