<section class="container" style="padding-top:90px">
    <div class="text-center" *ngIf="isBusy"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
    <div id="mainContent" *ngIf="!isBusy">
        <div  id="wizardAccordion">
        <app-accordion>
            <app-accordion-tab active="true" header="Mission Details" #detailTab>
                <app-mission-detail-details [model]="model" [busyState]="missionState" #detailStep
                (onNextStep)="changeLinkedTab(audienceTab, saveDetails, this)"></app-mission-detail-details>
            </app-accordion-tab>
            <app-accordion-tab active="false" header="Audience" #audienceTab [disabled]="!model.missionId" [active]="audienceStep.onActivated(audienceTab)">
                <app-mission-detail-audience [model]="model" [busyState]="missionState" #audienceStep
                    (onNextStep)="changeLinkedTab(categoryTab, saveAudience, this)"
                    (onPreviousStep)="changeLinkedTab(detailTab, saveAudience, this)">
                </app-mission-detail-audience>
            </app-accordion-tab>
            <app-accordion-tab active="false" header="Category Selection" #categoryTab [disabled]="!model.missionId">
                <app-mission-detail-category [model]="model" [busyState]="missionState" #categoryStep
                    (onNextStep)="changeLinkedTab(prereqTab, saveCategory, this)"
                    (onPreviousStep)="changeLinkedTab(audienceTab, saveCategory, this)">
                </app-mission-detail-category>
            </app-accordion-tab>
            <app-accordion-tab active="false" header="Prerequisites" #prereqTab [disabled]="!model.missionId">
                <app-mission-detail-prereq [model]="model" [busyState]="missionState" #prereqStep
                    (onNextStep)="changeLinkedTab(pubTab, savePrereq, this)"
                    (onPreviousStep)="changeLinkedTab(categoryTab, savePrereq, this)">
                </app-mission-detail-prereq>
            </app-accordion-tab>
            <app-accordion-tab active="false" header="Publication Dates" #pubTab [disabled]="!model.missionId">
                <app-mission-detail-publication [model]="model" [busyState]="missionState" #pubStep></app-mission-detail-publication>
            </app-accordion-tab>
        </app-accordion>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" id="NextWizard" name="NextWizard" [disabled]="model.missionId === 0"
                (click)="saveAndAddContent()"
                class="button-orange center-block">{{'Save and Begin Adding Content'|translate}}</button>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #canNavModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Leaving Mission Details</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="canNavAway(true);">
                <span aria-hidden="true" (click)="canNavAway(false)">X</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you would like to leave Mission Details?
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" (click)="canNavAway(true)">Ok</button>
                <button class="btn pull-left" (click)="canNavAway(false)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #validationModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Validation Errors</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="validationModal.hide();">
                <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let error of validationErrors">{{error}}</div>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" (click)="validationModal.hide();">Ok</button>
                </div>
            </div>
        </div>
    </div>

</section>