
    <div class="loading" *ngIf="false">
        <img src="./../../../assets/img/levelUpLogo.png" alt="">
        <div id="circleG">
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
        </div>
    </div>
    <br><br><br>
<div id="MissionCentral">
    <div class="mainContainer container">
        <div class="missionCentralRow text-center firstRow">
            <div class="col-xs-2 colOne"><p id="missionCentralMissionButton"><img src="./assets/img/Mission-Central_08.png" alt="mission central">Mission Central</p></div>
            <div class="col-xs-2 colTwoThreeFour"><p id="missionCentralCategoriesButton"><img src="./assets/img/Mission-Central_03.png" alt="categories">Categories</p></div>
            <div class="col-xs-2 colTwoThreeFour"><p id="missionCentralUnlockablesButton"><img src="./assets/img/Mission-Central_05.png" alt="unlockables">Unlockables</p></div>
            <div class="col-xs-2 colTwoThreeFour"><p id="missionCentralGlobalMissionsButton"><img src="./assets/img/Mission-Central_11.png" alt="global mission">Global Mission</p></div>
            <div class="col-xs-2 colTwoThreeFour"><p id="missionCentralCaptainsLogButton"><img src="./assets/img/captainslog-01.png" alt="global mission">Captain's Log</p></div>
        </div>

        <div class="missionCentralRow secondRow">
            <div class="col-xs-12"><p id="missionCentralCreateMissionButton"><img src="./assets/img/createNewMission.png" alt="new mission">Create New Mission</p></div>
        </div>

        <div class="missionCentralRow tableHeaders">
            <div class="col-mc-1 thirdRowCols thirdRowFirst"><p></p></div>
            <div class="col-mc-2 thirdRowCols sort-header" data-sortid="0"><p>Name<i class="fa fa-angle-down"></i></p></div>
            <div class="col-mc-3 thirdRowCols"><p>Description</p></div>
            <div class="col-mc-4 thirdRowCols"><p>Created Date</p></div>
            <div class="col-mc-5 thirdRowCols"><p>Created By</p></div>
            <div class="col-mc-6 thirdRowCols sort-header sorted" data-sortid="1"><p>Date Published<i class="fa fa-angle-down"></i></p></div>
            <div class="col-mc-7 thirdRowCols sort-header" data-sortid="2"><p>Status<i class="fa fa-angle-down"></i></p></div>
            <div class="col-mc-8 thirdRowCols thirdRowLast text-center"></div>
        </div>

        <div id="missionCentralTableRows">
            <div class="missionCentralRow row tableRows">
                <div class="col-mc-1 fourthRow"><p class="truncated"><i class="fa fa-file-text-o missionCentralChatIcon " data-missioncontentid="224"></i></p></div>
                <div class="col-mc-2 fourthRow"><p class="truncated desc">Quiz Filled Test</p></div>
                <div class="col-mc-3 fourthRow"><p class="truncated desc">Just to get a bunch of perfect scores in a row</p></div>
                <div class="col-mc-4 fourthRow"><p class="truncated">&nbsp;4/20/2017</p></div>
                <div class="col-mc-5 fourthRow"><p class="truncated">&nbsp;Adam Scott</p></div>
                <div class="col-mc-6 fourthRow"><p class="truncated">&nbsp;4/19/2017</p></div>
                <div class="col-mc-7 fourthRow"><p class="truncated">published</p></div>
                <div class="col-mc-8 text-center fourthRow">
                    <p class="missionCentralMissionDelete edit truncated" data-missioncontentid="224">Delete</p>
                    <p class="missionCentralMissionEdit edit truncated" data-missioncontentid="224">Edit</p>
                </div>
            </div>
            <div class="missionCentralRow row tableRows">
                <div class="col-mc-1 fourthRow"><p class="truncated"><i class="fa fa-file-text-o missionCentralChatIcon " data-missioncontentid="223"></i></p></div>
                <div class="col-mc-2 fourthRow"><p class="truncated desc">Automation Test</p></div>
                <div class="col-mc-3 fourthRow"><p class="truncated desc">Testing testing, 1 2 3...</p></div>
                <div class="col-mc-4 fourthRow"><p class="truncated">&nbsp;12/29/2016</p></div>
                <div class="col-mc-5 fourthRow"><p class="truncated">&nbsp;Carson Montgomery</p></div>
                <div class="col-mc-6 fourthRow"><p class="truncated">&nbsp;12/27/2016</p></div>
                <div class="col-mc-7 fourthRow"><p class="truncated">published</p></div>
                <div class="col-mc-8 text-center fourthRow">
                    <p class="missionCentralMissionDelete edit truncated" data-missioncontentid="223">Delete</p>
                    <p class="missionCentralMissionEdit edit truncated" data-missioncontentid="223">Edit</p>
                </div>
            </div>
        </div>

        <div id="missionCentralNavigation" class="missionCentralTableRows">
            <div class="col-xs-12 text-center pagination"><span class="creator-prevItem creator-pagination inactive" page="-1"> <img src="./assets/img/leftArrow.png"> </span><span class="creator-pagination active" page="0">1</span><span class="creator-pagination" page="1">2</span><span class="creator-pagination" page="2">3</span><span class="creator-pagination" page="3">4</span><span class="creator-pagination" page="4">5</span>&nbsp;...<span class="creator-pagination" page="18">19</span><span class="creator-nextItem creator-pagination" page="1">  <img src="./assets/img/rightArrow.png"> </span></div>
        </div>
    </div>

</div>
