<div>
<div class="row">
        <div class="col-xs-12">
            <p>
                <span data-i18n="missionwizard.audience.onlyselected">
                    ONLY the selected audience will have visibility to this mission.
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="MissionsAudienceGroupSearch" class="sub-text" >Select Groups</label><i class="fa fa-asterisk"></i>
            <input type="text" id="MissionsAudienceGroupSearch" class="step-inputs form-control" placeholder="Search Groups"/>
        </div>
        <div class="col-xs-6">
            <label for="MissionsAudienceUserSearch" class="sub-text" >Select Users</label><i class="fa fa-asterisk"></i>
            <input type="text" id="MissionsAudienceUserSearch" class="step-inputs form-control" placeholder="Search Users" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div id="MissionsAudienceGroupChosen" class="selectedHolder">

            </div>
            <div id="missionsAudienceGroupAvailable" style="height:150px; border:1px solid #ccc; border-top:none; padding:8px 5px; background-color: white; overflow-x:scroll; text-align:left;">
            </div>

        </div>
        <div class="col-xs-6">
            <div id="MissionsAudienceUserChosen" class="selectedHolder">
            </div>

            <div id="missionsAudienceUserAvailable" style="height:150px; border:1px solid #ccc; border-top:none; padding:8px 5px; background-color: white; overflow-x:scroll; text-align:left;" data-i18n="missionwizard.audience.searchforusers"></div>

        </div>
    </div>

  <div class="row">
      <div class="col-xs-6">
          <button type="button" class="btn button-next" (click)="onPrevious()">Previous</button>
      </div>
      <div class="col-xs-6">
          <button type="button" class="btn button-next pull-right" (click)="onContinue()">Continue</button>
      </div>
  </div>
</div>