<div id="headerContainer">
  <div id="Header">
    <nav id="nav" class="navbar navbar-default navbar-static-top affix" data-spy="affix" data-offset-top="395">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="navLogo" routerLink="/pages/my-stuff" routerLinkActive="active">
            <img class="img-responsive siteHeaderNavigation myStuffNavigation leveluplogo" data-i18n="nav.my-stuff" src="assets/img/levelUpLogo.png" alt="">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
            <li><a routerLinkActive="active" routerLink="/pages/my-stuff">{{'navbar.links.my stuff' | translate}}</a></li>
            <li><a routerLinkActive="active" routerLink="/pages/my-training">{{'navbar.links.my training' | translate}}</a></li>
            <li><a routerLinkActive="active" routerLink="/pages/my-team">{{'navbar.links.my team' | translate}}</a></li>
            <li><a routerLinkActive="active" routerLink="/pages/reports">{{'navbar.links.reports' | translate}}</a></li>
            <li *ngIf="_userContextService.profileModel.isCreator">
                <a routerLink="/pages/creator" routerLinkActive="active" class="creatorLink">{{'navbar.links.creator' | translate}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
              <li><a id="notif-toggle" class=""><i class="fa fa-2x fa-envelope-o">
                <span id="notification-counter" class=""></span></i></a>
              </li>
              <li><a class=""><i class="fa fa-2x fa-comment-o"></i></a></li>
              <li><a class=""><i class="fa fa-2x fa-cog"></i></a></li>
              <li class="dropdown">
                  <a role="button" aria-expanded="false">
                    <i class="fa fa-2x fa-power-off"></i>
                      <img class="carets" src="../../assets/img/navcaret.png" />
                  </a>
                  <ul id="navd" class="dropdown-menu" role="menu">
                    <a class="dropdown-toggle navdbsp" data-toggle="dropdown" role="button" aria-expanded="false">
                      <i class="fa fa-2x fa-power-off"></i>
                      <img class="carets" src="./../../assets/img/navcaret.png" />
                    </a>
                      <li><a class="navSelectLanguage">English</a></li>
                      <li><a class="navSelectLanguage">French</a></li>
                      <li class="tenantNavigation"><a id="navTenantAdmin" data-i18n="nav.tenantadmin">Tenant Admin</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
    </nav>
  </div>
</div>
