<router-outlet>
  <div class="loading" *ngIf="!(_userContextService) || (_userContextService && _userContextService.profileModel == null)">
    <img src="../assets/img/levelUpLogo.png" alt="">
    <div id="circleG">
      <div id="circleG_1" class="circleG"></div>
      <div id="circleG_2" class="circleG"></div>
      <div id="circleG_3" class="circleG"><i class="fa fa-home" *ngIf="!loadingProfile"></i><i class="fa fa-user-o" *ngIf="loadingProfile"></i></div>
    </div>
  </div>
</router-outlet>
